.table-responsive {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0, .25);    
    margin-top: 30px;
    overflow-x: auto; 
    
}

.table-responsive thead tr {
    background-color: #979b9a;
    color: #ffffff;
    text-align: left;
}

.table-responsive thead th {
    color: #ffffff;
}
.table-responsive th,
.table-responsive td {
    padding: 12px 30px;
  
}

.table-responsive tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-responsive tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-responsive tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}


.table-responsive tbody tr:last-of-type {
    border-bottom: 2px solid #979b9a;
}

.filters-container {
  
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 0;
     
}

@media screen and (min-width: 400px) {
    .table-responsive {
        width: 68%; 
        max-width: 1295px;
    }
    .filters-container{
        width: 35%;
        max-width: 667px;
        min-width: 400px;
    }
}