.footer{
    padding: 0.59rem 17%;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom{
    padding-top: 2rem;
    align-items: center;
    text-align: center;
}
